<div id="main">

  <form novalidate (submit) = "add()" [formGroup]="form">
    <div id="container">
      <div class="add">
        <mat-form-field appearance="outline" id="first">
          <mat-label>Название задачи</mat-label>
          <input matInput formControlName="label">
          <mat-error *ngIf="form.controls.label.invalid">Введите назавание задачи</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" id="second">
          <mat-label>Краткое описание</mat-label>
          <input matInput formControlName="description">
          <mat-error *ngIf="form.controls.description.invalid">Введите описание</mat-error>
        </mat-form-field>
      </div>

      <div class="add prior">
        <mat-button-toggle-group name="fontStyle" formControlName="priority">
          <mat-button-toggle value="red" style="background-color: red" ></mat-button-toggle>
          <mat-button-toggle value="#76DC76" style="background-color: #76DC76"></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      

      <div class="add">
        <button mat-raised-button color="primary" [disabled] = "form.invalid">Добавить</button>
      </div>
    </div>

  </form>

  

  <div id="wrapper" *ngFor = "let elem of list; let i = index">
    <div id="catalog">
        <div id="check">
          <mat-checkbox color="primary" #chkbox></mat-checkbox>
          <p style="margin: 0 10px;" [ngStyle]= "{'text-decoration': chkbox.checked ? 'line-through' : 'none', 'color': chkbox.checked ? '#A8B5A8' : elem.color}">{{elem.date}}</p>
        </div>
        <div id="center">
            <p style="font-size: 25px; margin-top: 5px; margin-bottom: 10px;" [ngStyle]= "{'text-decoration': chkbox.checked ? 'line-through' : 'none', 'color': chkbox.checked ? '#A8B5A8' : elem.color}">{{elem.label}}</p>
            <p style="font-size: 15px; margin-top: 0" [ngStyle]= "{'text-decoration': chkbox.checked ? 'line-through' : 'none', 'color': chkbox.checked ? '#A8B5A8' : elem.color}">{{elem.description}}</p>
        </div>
        <button mat-icon-button>
            <mat-icon (click) = "remove(i)">delete</mat-icon>
        </button>
    </div>
  </div>


  
</div>


